mixin advantages
  -
    const heading = "Наши преимущества";
    const advantagesList = [
      {
        value: "900",
        unit: "кв/м",
        title: "Площадь",
        description: "Занимайтесь без очередей и толпучки",
      },
      {
        value: "70",
        unit: "Машин",
        title: "Собственная парковка",
        description: "Вы всегда найдете место для своей машины на нашей парковке",
      },
      {
        value: "100",
        title: "Тренажеров",
        description: "Современные тренажеры на все группы мышц",
      },
      {
        value: "350",
        unit: "Мест",
        title: "Комфорт",
        description: "Просторные раздевалки, душевые, фен, Wi-Fi, кулеры",
      },
      {
        value: "5+",
        unit: "лет",
        title: "Тренерский опыт",
        description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      },
      //- {
      //-   value: "1",
      //-   unit: "лет",
      //-   title: "Тренерский опыт",
      //-   description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      //- },
      //- {
      //-   value: "2",
      //-   unit: "лет",
      //-   title: "Тренерский опыт",
      //-   description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      //- },
      //- {
      //-   value: "3",
      //-   unit: "лет",
      //-   title: "Тренерский опыт",
      //-   description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      //- },
      //- {
      //-   value: "4",
      //-   unit: "лет",
      //-   title: "Тренерский опыт",
      //-   description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      //- },
      //- {
      //-   value: "5",
      //-   unit: "лет",
      //-   title: "Тренерский опыт",
      //-   description: "Добивайтесь своих целей быстрее с профессиональным тренером",
      //- },
    ]

  section.advantages
    .container
      h2=heading
      ul
        each item in advantagesList
          li
            .advantages__value
              h3=item.value
              if(item.unit)
                div=item.unit
            .advantages__description
              h3=item.title
              p=item.description


