mixin promo
  -
    const title = 'Super Games';
    const description = 'Ежегодные соревнования по CrossFit'
    const data = {
      day: '7',
      month: 'Марта',
      year: '2019',
    };
    const time = '12:00';
    const link = {
      href: '#',
      text: 'Заполнить заявку'
    }
    const image = 'promo'

  section.promo
    .container
      .promo__content
        h2=title
        .promo__timestamp
          .promo__timestamp-top
            .promo__timestamp-label
              div Дата
          .promo__timestamp-bottom
            .promo__timestamp-day
              div=data.day
            .promo__timestamp-halfed
              .promo__timestamp-month
                div=data.month
              .promo__timestamp-year
                div=data.year
        .promo__timestamp
          .promo__timestamp-top
            .promo__timestamp-label
              div Время
          .promo__timestamp-bottom
            .promo__timestamp-time
              div=time
        p=description
        a.btn(href=link.href)=link.text
      .promo__image
        +picture("content/announcement", "photo", "jpg", "660", "500", "Спортсмен готовится к выступлению.")
