mixin tariffs
  -
    const tariffMonth = [
      {
      title: "С тренером",
      time: "12 занятий",
      price: "5000",
      href: "#",
      },
      {
      title: "Дневной",
      time: "с 8:00 до 17:00",
      price: "1700",
      href: "#",
      },
      {
      title: "Полный день",
      time: "с 8:00 до 22:00",
      price: "2700",
      href: "#",
      },
    ]

    const tariffSemiAnnual = [
      {
      title: "С тренером",
      time: "12 занятий",
      price: "20000",
      href: "#",
      },
      {
      title: "Дневной",
      time: "с 8:00 до 17:00",
      price: "6800",
      href: "#",
      },
      {
      title: "Полный день",
      time: "с 8:00 до 22:00",
      price: "10800",
      href: "#",
      },
    ]

    const tariffAnnual = [
      {
      title: "С тренером",
      time: "12 занятий",
      price: "30000",
      href: "#",
      },
      {
      title: "Дневной",
      time: "с 8:00 до 17:00",
      price: "10200",
      href: "#",
      },
      {
      title: "Полный день",
      time: "с 8:00 до 22:00",
      price: "16200",
      href: "#",
      },
    ]

    const heading = "Абонементы";
    const tariffs = [tariffMonth, tariffSemiAnnual, tariffAnnual]
    const controls = ["1 месяц", "6 месяцев", "12 месяцев"]

  section.tariffs
    .container.tabs(data-tabs="parent")
      h2=heading
      .tabs__controls(data-tabs="controls")
        each item in controls
          button.tabs__control(data-tabs="control" type="button" aria-label=`Тарифы подписки на срок в ${item}`)=item
      .tabs__content(data-tabs="content")
        each element in tariffs
          .tabs__element(data-tabs="element")
            ul
              each item in element
                li
                  h3=item.title
                  p=item.time
                  .tariffs__price
                    h4=item.price
                    span=item.price
                  a.btn(href=item.href) Купить абонемент


