mixin picture-responsive(path, image, format, width, height, altText)
  picture(class!=attributes.class)
    source(type='image/webp', media='(max-width: 767px)', srcset="img/" + path + "/mobile/" + image + ".webp" + ", " + "img/" + path + "/mobile/" + image + "@2x.webp" + " 2x")
    source(media='(max-width: 767px)', srcset="img/" + path + "/mobile/" + image + ".webp" + ", " + "img/" + path + "/mobile/" + image + "@2x.webp" + " 2x")
    source(type='image/webp', media='(max-width: 1199px)', srcset="img/" + path + "/tablet/" + image + ".webp" + ", " + "img/" + path + "/tablet/" + image + "@2x.webp" + " 2x")
    source(media='(max-width: 1199px)', srcset="img/" + path + "/tablet/" + image + ".webp" + ", " + "img/" + path + "/tablet/" + image + "@2x.webp" + " 2x")
    source(type='image/webp', srcset="img/" + path + "/desktop/" + image + ".webp" + ", " + "img/" + path + "/desktop/" + image + "@2x.webp" + " 2x")
    img(src="img/" + path + "/desktop/" + image + "." + format, alt=altText, srcset="img/" + path + "/desktop/" + image + "@2x." + format + " 2x", width=width, height=height)

mixin picture-responsive-dt(path, image, format, width, height, altText)
  picture(class!=attributes.class)
    source(type='image/webp', media='(max-width: 1199px)', srcset="img/" + path + "/tablet/" + image + ".webp" + ", " + "img/" + path + "/tablet/" + image + "@2x.webp" + " 2x")
    source(media='(max-width: 1199px)', srcset="img/" + path + "/tablet/" + image + ".webp" + ", " + "img/" + path + "/tablet/" + image + "@2x.webp" + " 2x")
    source(type='image/webp', srcset="img/" + path + "/desktop/" + image + ".webp" + ", " + "img/" + path + "/desktop/" + image + "@2x.webp" + " 2x")
    img(src="img/" + path + "/desktop/" + image + "." + format, alt=altText, srcset="img/" + path + "/desktop/" + image + "@2x." + format + " 2x", width=width, height=height)
